#u709-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u853-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u682-5,#u747-4,#u749-4,#u750-4,#u751-4,#u752-4,#u753-4,#u854-4
{
	font-family: ubuntu-n3, sans-serif;
}

