#u709-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u853-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u682-5,#u747-4,#u749-4,#u750-4,#u751-4,#u752-4,#u753-4,#u854-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u867.PamphletThumbSelected #u868-4 p,#u863.PamphletThumbSelected #u864-4 p,#u865.PamphletThumbSelected #u866-4 p,#u921.PamphletThumbSelected #u927-4 p,#u898-4,#u866-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u864-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u868-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u927-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u834-4,#u928-4,#u904-4,#u917-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u907-4,#u908-4,#u910-4,#u913-4,#u911-4,#u914-4,#u912-4,#u915-4,#u919-4,#u920-4
{
	font-family: ubuntu-n3, sans-serif;
}

