.version.index /* version checker */
{
	color: #000007;
	background-color: #5D529B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 800px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;
}

#pu680
{
	width: 0.01px;
}

#u680
{
	z-index: 6;
	width: 235px;
	margin-right: -10000px;
	padding: 157px 389px 101px 396px;
}

#u681-4
{
	z-index: 7;
	margin-left: 22px;
}

#buttonu708
{
	z-index: 16;
	width: 236px;
	padding-bottom: 6px;
	left: -1px;
	margin-top: 60px;
}

#buttonu708:hover
{
	width: 236px;
	min-height: 0px;
	margin: 60px 0px 0px;
}

#buttonu708.ButtonSelected
{
	width: 236px;
	min-height: 0px;
	margin: 60px 0px 0px;
}

#u930
{
	z-index: 17;
	width: 78px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 82px;
}

#buttonu708:hover #u930
{
	width: 78px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#buttonu708.ButtonSelected #u930
{
	width: 78px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#u930_img
{
	padding-right: 2px;
}

#u709-4
{
	z-index: 19;
	width: 46px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 118px;
}

#buttonu708:hover #u709-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 46px;
	margin: 18px -10000px 0px 0px;
}

#buttonu708.ButtonSelected #u709-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 46px;
	margin: 18px -10000px 0px 0px;
}

#u682-5
{
	z-index: 11;
	width: 164px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 218px;
	left: 442px;
}

#pu774
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 6px;
}

#u774
{
	z-index: 25;
	width: 155px;
	padding-bottom: 31px;
	margin-bottom: -3px;
	margin-right: -10000px;
}

#u747-4
{
	z-index: 26;
	width: 94px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 31px;
}

#u782
{
	z-index: 5;
	width: 155px;
	padding-bottom: 31px;
	margin-bottom: -3px;
	margin-right: -10000px;
	left: 163px;
}

#u749-4
{
	z-index: 42;
	width: 116px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 20px;
}

#u784
{
	z-index: 46;
	width: 155px;
	padding-bottom: 31px;
	margin-bottom: -3px;
	margin-right: -10000px;
	left: 326px;
}

#u750-4
{
	z-index: 47;
	width: 27px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 65px;
}

#u785
{
	z-index: 4;
	width: 155px;
	padding-bottom: 31px;
	margin-bottom: -3px;
	margin-right: -10000px;
	left: 490px;
}

#u751-4
{
	z-index: 30;
	width: 73px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 41px;
}

#u786
{
	z-index: 3;
	width: 155px;
	padding-bottom: 31px;
	margin-bottom: -3px;
	margin-right: -10000px;
	left: 654px;
}

#u752-4
{
	z-index: 34;
	width: 101px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 25px;
}

#u787
{
	z-index: 2;
	width: 155px;
	padding-bottom: 31px;
	margin-bottom: -3px;
	margin-right: -10000px;
	left: 818px;
}

#u774:hover,#u782:hover,#u784:hover,#u785:hover,#u786:hover,#u787:hover
{
	width: 155px;
	min-height: 0px;
	margin: 0px -10000px -3px 0px;
}

#u753-4
{
	z-index: 38;
	width: 63px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 45px;
}

#pu714
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 29px;
}

#u714
{
	z-index: 23;
	width: 976px;
	padding-bottom: 103px;
	margin-right: -10000px;
}

#u936
{
	z-index: 59;
	width: 571px;
	height: 485px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

.ie #u936
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u715
{
	z-index: 24;
	width: 314px;
	padding-bottom: 436px;
	margin-right: -10000px;
	left: 659px;
}

#u853-4
{
	z-index: 51;
	width: 129px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 25px;
}

#u854-4
{
	z-index: 55;
	width: 221px;
	min-height: 59px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 684px;
}

body
{
	position: relative;
	min-width: 1020px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

